In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("research_pipeline/fiinetune_data.csv")
data.head()

,ID,Transcription,SQL Ground Truth
0,1,Bạn hãy tìm tên những khách hàng có trình độ '...,"SELECT c.c_first_name, c.c_last_name\r\nFROM c..."
1,2,Tìm URL của những trang web page đã bán đồ 'Wo...,SELECT DISTINCT wp.wp_url\r\nFROM web_sales ws...
2,3,Lấy thông tin định danh và họ tên khách hàng,"SELECT c_customer_id, c_first_name, c_last_nam..."
3,4,Tìm tất cả khách hàng đến từ Việt Nam,SELECT * FROM customer \nWHERE c_birth_country...
4,5,Đếm tổng số lượng khách hàng trong bảng,SELECT COUNT(*) AS total_customers \nFROM cust...